In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv("heart_disease_data.csv")
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1 #example values password ccmt: CCMTshiv@2024
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
data.shape

(303, 14)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    object
dtypes: float64(1), int64(12), object(1)
memory usage: 33.3+ KB

In [5]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [6]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000

In [7]:
data["target"].value_counts()

target
1                                                   164
0                                                   138
1  #example values password ccmt:  CCMTshiv@2024      1
Name: count, dtype: int64

In [8]:
x = data.iloc[:,:-1]
y = data["target"]

In [11]:
for i in x.columns:
    print(i)

age
sex
cp
trestbps
chol
fbs
restecg
thalach
exang
oldpeak
slope
ca
thal

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y , test_size= 0.3,random_state =42,stratify = y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [ ]:
 print(x.shape,x_train.shape,x_test.shape)

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(x_train,y_train)

In [ ]:
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

In [ ]:
print("accuracy on training data :",training_data_accuracy)

In [ ]:
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction,y_test)

In [ ]:
print("accuracy on training data :",test_data_accuracy)

 # Building predicting system

In [ ]:
# SOME SAMPLE INPUTS

# 55,0,1,132,342,0,1,166,0,1.2,2,0,2,1
# 41,1,1,120,157,0,1,182,0,0,2,0,2,1
# 38,1,2,138,175,0,1,173,0,0,2,4,2,1
# 38,1,2,138,175,0,1,173,0,0,2,4,2,1
# 67,1,0,160,286,0,0,108,1,1.5,1,3,2,0
# 67,1,0,120,229,0,0,129,1,2.6,1,2,3,0

import numpy as np
import pickle

# Example input data
input_data = (67,1,0,160,286,0,0,108,1,1.5,1,3,2)

# Change the input data to numpy array
input_data_to_numpy = np.asarray(input_data)

# Reshape the numpy array as we are predicting for only one instance
input_reshape = input_data_to_numpy.reshape(1, -1)

# Load the pre-trained model
# Ensure that 'model.pkl' is the correct path to your saved model

# Make prediction
prediction = model.predict(input_reshape)

# Output the result
if prediction[0] == 0:
    print("*****************Patient doesn't have any Heart Disease**************************8")
else:
    print("*******************Patient has Heart Disease****************************")

# Saving Trained model

In [ ]:
import pickle

In [ ]:
filename = 'trained_model.sav'
pickle.dump(model,open(filename,'wb'))

# loading saved model

In [ ]:
loaded_model = pickle.load(open('trained_model.sav','rb'))

In [ ]:
input_data = (67,1,0,160,286,0,0,108,1,1.5,1,3,2)

# Change the input data to numpy array
input_data_to_numpy = np.asarray(input_data)

# Reshape the numpy array as we are predicting for only one instance
input_reshape = input_data_to_numpy.reshape(1, -1)

# Load the pre-trained model
# Ensure that 'model.pkl' is the correct path to your saved model

# Make prediction
prediction = loaded_model.predict(input_reshape)

# Output the result
if prediction[0] == 0:
    print("*****************Patient doesn't have any Heart Disease**************************8")
else:
    print("*******************Patient has Heart Disease****************************")